* {
    margin: 0;
    padding: 0;
}

nav {
    width: 100%;
    height: 70px;
    background-color: white;
    position: fixed;
    z-index: 1000;
    box-shadow: rgba(0, 0, 0, 0.04) 0px 10px 20px;
}

.nav-space{
    width: 100%;
    height: 70px;
}
/* Every span in nav-left class */
.nav-left > span{
    margin-right: 32px;
}

.nav-right > span{
    margin-right: 48px;
}

.nav_box{
    padding: 0px 100px 0px 100px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    line-height: 60px;
    align-items: stretch;
}

.my_shop{
    font-size: 36px;
    font-weight: bold;
    color: black;
    cursor: pointer;
    
}

.cart{
    cursor: pointer;
}

.cart span:nth-child(1){
    font-size: 1.5rem;
    color: black;
}

.cart span:nth-child(2){
    padding:0 3px;
    background-color: red;
    color: white;
    font-weight: bold;
    border-radius: 5px;
    position: relative;
} 

/* .navbar{
    background-color: white;
    width: 100%;
    height: 80px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.2) 0px 30px 90px;
    position: fixed;
    top: 0;
    align-items: center;
    justify-content: space-between;
    padding: 0px 100px;
    box-sizing: border-box;
    z-index: 1000;
} */

/* .container-navbar-left{
    display: flex;
    align-items: center;
} */



/* .shop-name{
    display: flex;
    font-weight: bolder;
    font-size: 30px;
    text-align: center;
    color: rgb(0, 0, 0);
    cursor: pointer;
}

.default-topic{
    
    margin-left: 48px;
    align-items: center;
}

.top-space{
    width: 100%;
    height: 80px;
}

.bold-price{
    font-weight: bold;
}

.container-navbar-right{
    align-items: flex-end;
    justify-content: space-between;
}

.navbar-right-icon{
    margin-left: 24px;
    cursor: pointer;
} */