.background-cover{
    width: 100%;
    height: 720px;
    background-color: grey;
    margin-bottom: 48px;
    object-fit: cover;
}
  
.homepage-space{
    margin-left: 100px;
    margin-right: 100px;
    
}
