.product-card{
  background-color: white;
  width: 270px;
  height: 400px;
  margin-top: 12px;
  margin-bottom: 12px;
  padding: 26px;
  cursor: pointer;
}

.product-card:hover{
  box-shadow: rgba(0, 0, 0, 0.2) 0px 0px 16px;
}

.show-after-hover{
  display: none;
}

.product-card:hover .show-after-hover{
  display: inline;
}

.product-card-list{
  display: flex;
  justify-content: space-between;
  position:relative;
}

.add-to-cart-to-middle{
 display: flex;

}

.move-button-to-center{
  display: flex;
  justify-content: center;

}




  

.product-item{
  align-items: center;
  background-color: black;
  width: 50%;
  height: 200px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}


.card-line-through-text{
  text-decoration: line-through;
  font-size: 14px;
  color: #666666;
  font-weight: 600;
}

.card-default-bold-price{
  font-size: 14px;
  font-weight: 600;
}

.product-name{
  font-weight: bold;
  font-size: 13px;
}

.row-review{
  display: flex;
  align-items: center;
}

.review{
  color: #666666;
  margin-left: 32px;
  font-weight: 400;
}

.green-color{
  color: #78A962;
  margin-bottom: 12px;
  margin-left: 24px;
  font-size: 10px;
  font-weight: 500;
}

.green-color > img{
  margin-right: 8px;
}

.margin-top-product-card{
  margin-top: 8px;
}