.payment-flex{
  display: flex;
}

.grid-payment {
    display: grid;
    grid-template-columns: auto 200px;
    grid-template-rows: 120px minmax(160px, auto) auto;
    grid-template-areas: 
      'header header'
      'main rightbar'
      'footer footer';
    column-gap: 40px;
    row-gap: 40px;
  }
  
  .page-header-payment {
    grid-area: header;
  }
  
  .page-rightbar-payment {
    grid-area: rightbar;
  }
  
  .page-main-payment {
    grid-area: main;
  } */
  
  .page-footer-payment {
    grid-area: footer;
  }
  
  .content-payment {
    color: #242424;
    /* background-color: #65a5b7; */
    font-weight: 200;
    text-align: center;
    box-sizing: border-box;
    padding: 10px;
    margin-left: 100px;
    margin-right: 100px;
  }

  .half-text-field-last{
    width: 350px;
    height: 40px;
    border-radius: 50px;
    background-color: white; 
    border: #242424;
    border-style: solid;
    border-width: 1px;
  }

  .full-text-field-last{
    width: 740px;
    height: 40px;
    border-radius: 50px;
    background-color: white;
    border: #242424;
    border-style: solid;
    border-width: 1px;
  }

  .box{
    background-color: aqua;
  }

  .row-address-input{
    display: flex;
  }

  .text-align-left{
    text-align: left;
  }

  .space-between-item{
    margin-left: 36px;
  }

  .box-payment-selected{
    
    width: 50%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
    border-color: darkblue;
  }

  .box-payment{
    
    width: 50%;
    height: 100px;
    border-style: solid;
    border-width: 1px;
    border-radius: 8px;
  }


  .red-text-style{
    color: red;
    font-weight: lighter;
  }

  .payment-topic-style{
    font-size: 32px;
    margin-top: 10px;
    font-weight: 600;
    margin-bottom: 29px;
  }

  .type-of-shipping-space{
    margin-top: 24px;
  }
  
  .type-of-shipping-content-left{
    text-align: start;
    margin-left: 64px;
    /* background-color: aliceblue; */
    width: 40%;
  }

  .flex{
    display: flex;
    align-items: normal;
    margin: 32px;
    
  }

  .circle{

        height: 31px;
        width: 31px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        display: inline-block;
        opacity: 0.4;
  }

  .circle-icon{
    height: 31px;
        width: 31px;
        background-color: white;
        border-style: solid;
        border-width: 1px;
        border-radius: 50%;
        display: inline-block;
  }

  .kerry-style{
    width: 140px;
    height: 70px;
    margin-bottom: 96px;
  }

  .grey-line{
    width: 730px;
    height: 0;
    background-color: aqua;
    border: 1px solid #CCCCCC;
    margin-top: 12px;
    margin-bottom: 34px;
    
  }

  .flex-item-center{
    display: flex;
    align-items: center;
  }

  .margin-left{
    margin-left: 12px;
  }

  .payment-summary-card{
    width: 362px;
    height: 377px;
    background-color: #F5F9FF;
    margin-left: 54px;
    border: 24px;
  }
  
  .payment-summary-topic{
    font-size: 24px;
    font-weight: bold;
    margin-left: 24px;
    margin-top: 16px;
    margin-bottom: 24px;
  }
  
  .payment-summary-flex{
    display: flex;
    justify-content: space-between;
    margin-left: 24px;
    margin-right: 30px;
  }
  
  .payment-summary-border-line{
    padding: 24px 0px 24px 0px;
    border-bottom: 1px solid #CCCCCC;
    margin-left: 24px;
    margin-right: 30px;
    margin-bottom: 28px;
  }
  
  .payment-summary-text{
    font-size: 13px;
    font-weight: bold;
  }