.product-picture{
    width: 394px;
    height: 580px;
    margin-left: 200px;
    margin-top: 64px;
    object-fit: contain;
}

.product-detail-name{
    margin-left: 64px;
    margin-top: 64px;
    margin-bottom: 16px;
    font-size: 36px;
    font-weight: bold;
}

.product-detail{
    font-size: 18px;
    display: flex;
    align-items: center;
    margin-left: 64px;
}


.price-text{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 64px;
    margin-top: 64px;
}

.price-thb{
    font-size: 36px;
    font-weight: bold;
    display: flex;
    align-items: center;
    margin-left: 32px;
    margin-top: 64px;
    
}

.price-thb-discount{
    font-size: 24px;
    display: flex;
    align-items: center;
    margin-left: 24px;
    margin-top: 64px;
    text-decoration: line-through;
    color: rgb(101, 101, 101)
}

.container-product-content{
    display: flex;
}



.price-in-row{
    display: flex;
}

.input-number{
    margin-left: 64px;
    margin-top: 32px;
    display: flex;
}

.add-button{
    display: flex;
    background-color: #0156FF;
    margin-left: 48px;
    height: 50px;
    width: 210px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.wishlist-button{
    display: flex;
    background-color: #F2994A;
    margin-left: 48px;
    height: 50px;
    width: 210px;
    border-radius: 50px;
    align-items: center;
    justify-content: center;
    color: white;
    cursor: pointer;
}

.sub-product-picture{
    background-color: rgb(72, 81, 78);
    width: 9%;
    height: 250px;
    margin-left: 200px;
    margin-top: 32px;
}

.behind-sub-product-picture{
    background-color: rgb(236, 114, 43);
    width: 9%;
    height: 250px;
    margin-left: 64px;
    margin-top: 32px;
    opacity: 0.4;
}

.row-sub-product-picture{
    display: flex;
}

.about-product-detail{
    font-weight: bold;
    font-size: 14px;
    margin-left: 200px;
    margin-top: 32px;
}

.about-product-sub-detail{
    font-weight: bold;
    margin-left: 24px;
    margin-top: 32px;
    opacity: 0.7;
    font-size: 14px;
}

.row-about-product-detail{
    display: flex;
}

.book-detail{
    width: 1065px;
    margin-left: 200px;
    margin-top: 32px;
    font-size: 16px;
    font-weight: 500;
}

.topic-book-detail{
    width: 60%;
    margin-left: 200px;
    margin-top: 32px;
    font-weight: bold;
}

.relative-item{
    display: flex;
    margin-left: 190px;
    margin-right: 100px;
    
}

.detail-topic-text{
    display: flex;
    overflow: scroll;
}

.heart-icon-style{
    margin-right: 12px;
}

.product-topic-wrapper{
    display: flex;
    justify-content: space-between;
    margin-left: 200px;
    margin-right: 200px;
    margin-top: 130px;
}

.detail-border-line{
    border-bottom: 1px solid #CCCCCC;
    margin-top: 39px;
}